<!-- templates/signup.html -->

{% extends "base2.html" %}

{% block content %}
<div class="w3-padding w3-white w3-display-container">
    <h3 class="title"><img src="/static/images/home2.png" width="75px" />&nbsp;Homeopathy</h3>
    <p class="w3-center">
        While homeopathy can scarcely compare in antiquity with Chinese or Indian medicine, 
        it is the longest established CAM (complementary alternate medicine) from 
        Europe. Samuel Hahnemann (1755-1843) founded the principles as he grew up in Meissen 
        in Germany, received his medical degree in Erlangen in 1779, 
        and died a millionaire in Paris in 1843. Homeopathy is strangely an exact science. 
        Our adverse reactions to the macro universe are curable by similar actions in 
        the micro universe. To understand the true principles of Homeopathy is beyond the 
        offerings of this Web App. However, the concept of like cured by likes is a principle 
        used in modern vaccinations. Homeopathy is an exact science of symptomatic 
        determination of disease. Incorrect symptoms or hastily arrived decisions can 
        often result in incorrect diagnosis and medication, which has earned Homeopathy 
        a bad name. Sometimes, it is impossible to go through the many iterations of symptomatic 
        ailments. A stomach disorder is what we think of as the predominant symptom, 
        but is it gastric, is it bilious, is it acidic are important symptom related questions. 
        While we try to help you narrow down the symptoms precisely, we still encourage you to 
        read the materia medica before selecting a Homeopathic medicine and dose. 
        Most treatments begin with trial and error. In homeopathy or Chinese or Indian medicine, 
        such prognosis comes as no surprise.
    </p>
    <p>Read more about it: <a class="w3-btn w3-blue" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1676328/">National Institute of Health (NIH) website</a></a> </p>
    <form method="POST" name="f1" action="/body/" class="w3-container w3-card w3-padding">
        <div class="w3-section">
            <h2 class="w3-center">List alphabetically</h2>
            <label>Materia Medica</label>
            <select class="w3-select" name="tchar" id="tchar" required>
                <option value="" disabled selected>Medica Name Starting with</option>
                <option value="A">A (ex Aconitum, AlfaAlfa, Aloe, Aurum)</option>
                <option value="B">B (ex Belladonna, Bismuth, Bryonia)</option>
                <option value="C">C (ex Cactus, Calcarea, Calendula, Carbo Veg)</option>
                <option value="D">D (ex Digitalis, Drosera, Dulcamara)</option>
                <option value="E">E (ex Echinacea, Ergotinum, Euphrasia)</option>
                <option value="F">F (ex Ferum, Formalin, Fraxinus)</option>
                <option value="G">G (ex Galium, Ginseng, Graphites)</option>
                <option value="H">H (ex Hedera, Hepar Sulph, Hypericum)</option>
                <option value="I">I (ex Iberis, Ignatia, Insulin, Iodium)</option>
                <option value="J">J (ex Jalapa, Juniperus)</option>
                <option value="K">K (ex Kali Ferrous, Kali Phos, Kreosotum)</option>
                <option value="L">L (ex Lecithin, Lycopodium)</option>
                <option value="M">M (ex Magnesia, Malaria, Murex)</option>
                <option value="N">N (ex Natrum Arsenica, Nux Vomica)</option>
                <option value="O">O (ex Oleander, Opium, Ozone)</option>
                <option value="P">P (ex Palladium, Phosphorous, Pulsatilla)</option>
                <option value="Q">Q (ex Quassia, Quinidine)</option>
                <option value="R">R (ex Rhodium, Rhododendron, Rhus Tox)</option>
                <option value="S">S (ex Scorpio, Selenium, Sulphur)</option>
                <option value="T">T (ex Tarentula, Thuja, Tilia)</option>
                <option value="U">U (ex Urea, urinum, Urva ursi)</option>
                <option value="V">V (ex Vanilla, Vespa, Vipera)</option>
                <option value="W">W (ex Wyethia)</option>
                <option value="X">X (ex Xray, Xanthium)</option>
                <option value="Y">Y (ex Yohimbinum, Yucca)</option>
                <option value="Z">Z (ex Zincum, Zingiber)</option>
            </select>
        </div>

        <button class="w3-button w3-center w3-blue w3-hover-purple">Load</button>
    </form>

    <hr />
    <br />
    
    <form method="POST" name="f2" action="/body2/" class="w3-container w3-card w3-padding">
    <div class="w3-section">
        <h2 class="w3-center">Single Symptom Search</h2>
        <label>Symptom</label>
        <select class="w3-select" name="tchar2" id="tchar2" required>
            <option value="" disabled selected>Symptom</option>
            <option value="burn">Burn</option>
            <option value="calm">Calm</option>
            <option value="chest">Chest</option>
            <option value="cold">Cold</option>
            <option value="cough">Cough</option>
            <option value="cut">Cut</option>
            <option value="diabetes">Diabetes</option>
            <option value="diarrhoea">Diarrhoea</option>
            <option value="dream">Dream(s)</option>
            <option value="feet">Feet</option>
            <option value="finger">Finger</option>
            <option value="foot">Foot</option>
            <option value="gout">Gout</option>            
            <option value="headache">Headache</option>
            <option value="heart">Heart</option>
            <option value="hip">Hip</option>
            <option value="indigestion">Indigestion</option>
            <option value="insomnia">Insomnia</option>
            <option value="itching">Itching</option>
            <option value="lip">Lip</option>
            <option value="lump">Lump</option>
            <option value="malaria">Malaria</option>
            <option value="mental">Mental</option>
            <option value="nausea">Nausea</option>
            <option value="peace">Peace</option>
            <option value="rectum">Rectum</option>
            <option value="rheumatism">Rheumatism</option>            
            <option value="skin">Skin</option>
            <option value="sleep">Sleep</option>
            <option value="stomach">Stomach</option>
            <option value="stroke">Stroke</option>
            <option value="teeth">Teeth</option>
            <option value="toe">Toe</option>
            <option value="tooth">Tooth</option>
            <option value="tuberculosis">Tuberculosis</option>            
            <option value="vertigo">Vertigo</option>            
        </select>
    </div>

    <button name="f2btn" class="w3-button w3-center w3-orange w3-hover-purple">Search</button>
</form>

<hr />
<br />

<form method="POST" name="f3" action="/body3/" class="w3-container w3-card w3-padding">
    <div class="w3-section">
        <h2 class="w3-center">Two symptom search</h2>
        <label>Symptom 1 (primary)</label>
        <input type="text" name="symp1" id="symp1" class="w3-input" value="" placeholder="Symptom-1 (No spaces)" required/>
        <label>&nbsp;</label>
        <select class="w3-select" name="cond1" id="cond1">
            <option value="NONE" selected>None</option>
            <option value="AND">And</option>
            <option value="OR">Or</option>
        <label>Symptom 2</label>
        <input type="text" name="symp2" id="symp2" class="w3-input" value="" placeholder="Symptom-2 (No spaces)" />
    </div>
    
    <button name="f3btn" class="w3-button w3-center w3-green w3-hover-purple">Search</button>
    </form>
    <hr />
    <br />
    
    <form method="POST" name="f4" action="/body4/" class="w3-container w3-card w3-padding">
        <div class="w3-section">
            <h2 class="w3-center">Three symptom search</h2>
            <label>Symptom 1 (primary)</label>
            <input type="text" name="symp1" id="symp1" class="w3-input" value="" placeholder="Symptom-1 (No spaces)" required/>
            <label>&nbsp;</label>
            <select class="w3-select" name="cond1" id="cond1">
                <option value="NONE" selected>None</option>
                <option value="AND">And</option>
                <option value="OR">Or</option>
            <label>Symptom 2</label>
            <input type="text" name="symp2" id="symp2" class="w3-input" value="" placeholder="Symptom-2 (No spaces)" />
            <select class="w3-select" name="cond2" id="cond2">
                <option value="NONE" selected>None</option>
                <option value="AND">And</option>
                <option value="OR">Or</option>
            <label>Symptom 3</label>
            <input type="text" name="symp3" id="symp3" class="w3-input" value="" placeholder="Symptom-3 (No spaces)" />
        </div>
        <button name="f4btn" class="w3-button w3-center w3-red w3-hover-purple">Search</button>
    </form>
            
</div>

{% endblock %}