<!-- templates/login.html -->

{% extends "base2.html" %}

{% block content %}
<div class="w3-padding w3-white w3-display-container">
    <h3 class="w3-center">Login</h3>
    <div class="w3-card">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="{{ url_for('auth.login') }}" class="w3-container">
            <p>In the early scriptures, paintings and sculptures, 
                gods favored only a few. The rest of the creatures including humans 
                dwelt on their individual beliefs, which was a sacrilege. Our journey to 
                decipher the spirit and mind is constantly evolving. Describing the spirit 
                is tough, a description in an old scripture comes close, “two identical 
                birds on a branch, excellent friends, spend their time together. One enjoys 
                the red fruits on the tree, the other sets undeterred.” The mind moves 
                from red to many other colored fruits, the dispassionate spirit plays 
                witness to the mind’s unending desires.</p>
            <div class="w3-section">
                <label>Email Address</label>
                <input class="w3-input" type="email" name="email" placeholder="Your Email" autofocus="">
            </div>

            <div class="w3-section">
                <label>Password</label>
                <input class="w3-input" type="password" name="password" placeholder="Your Password">
            </div>

            <div class="w3-section">
                <label class="checkbox">
                    <input type="checkbox" class="w3-check">
                    Remember me
                </label>
            </div>
            <button class="w3-button w3-center w3-blue w3-hover-purple">Login</button>
        </form>
    </div>
</div>
{% endblock %}